.About-page-img{
    width: 100%;
}

.image-desc{
    padding-top: 5px;
    margin-left: 5rem;
}



.commission-members-heading{
   
    font-size: 20px;
}
.member-section{
    margin-top: 2rem;
}

.about-pag-cont{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}


