.other-docs-table{
    margin:2rem 8rem;
}
#other-docs-search-bar{
    margin-top:-2.5rem;
    margin-left: 4rem;
}

@media (max-width: 640px){
    .other-docs-table{
        margin:1rem 1.5rem;
        font-size:13px;
    }
    #other-docs-search-bar{
        margin-left: 0rem;
    }
}
@media only screen and (max-width: 840px){
    .other-docs-table{
        margin:2rem 2rem;
    }
}