.news-container{
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.news-image{
   margin-left: 5rem;
    width:60rem;
}

.news-page-content{
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
#news-heading{
    text-align:center;
   
}
#news-heading h2{
    font-size:36px;
}

