.startup-table{
    margin:2rem 8rem;
}
.startup-heading{
    text-align: center;
}
.startup-img {
   width: 100%;
   height: 250px;
}

.startup-text{
    text-align: justify;
}
.startup-desc-text{
  font-weight: bold; 
}
.wrapper{
    margin-top:-2.5rem;
}