
.form-feedback{
    margin-bottom: 5rem;
   align-items: center;
   margin-left: 28rem;
}
#feedback-input{
    width:25vw;
}
.captcha{
    margin-top: 2rem;
}

@media (max-width: 480px){
    .form-feedback{
        margin-bottom: 5rem;
       margin-left: 2rem;
    }
    #feedback-input{
        width:80vw;
    }
}